* {
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background: #fdecef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

/* Envelope */
#envelope {
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
  perspective: 900px
}

/* Front parts */
.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.pocket {
  position: absolute; 
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 150px solid #ff8fa3;
  border-right: 150px solid #ff8fa3;
  border-top: 100px solid #ff5d73;
  Z-index: 2
}

.flap {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 100px solid #ff5d73;

  transform-origin: top center;
  transform: rotateX(0deg);
  backface-visibility: hidden;

  transition: transform 0.7s ease;
  z-index: 3;
}

/* Letter */
.letter {
  position: absolute;
  width: 260px;
  height: 160px;
  left: 20px;
  top: 30px;
  background: white;
  padding: 15px;

  z-index: 1;
  transition: transform 0.7s ease;
}

.words {
  font-size: 14px;
  margin: 8px 0;
}

/* Buttons */
.buttons {
  margin-top: 25px;
}

button {
  padding: 8px 20px;
  margin: 0 5px;
  border: 2px solid #ff5d73;
  background: white;
  color: #ff5d73;
  cursor: pointer;
  border-radius: 5px;
}

/* Animations */
#envelope.open .flap {
  transform: rotateX(180deg);
  Z-index: 0;
}

#envelope.open .letter {
  transform: translateY(-90px);
  transition-delay: 0.25s;
}

#envelope.close .letter {
  transform: translateY(0);
}
