* {
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #fdecef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

/* ENVELOPE */
#envelope {
  position: relative;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  margin: auto;
  Z-index: 10;
}

/* BACK */
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff5d73;  /* darker than background */
  z-index: 0;
}

/* LETTER */
.letter {
  position: absolute;
  width: 260px;
  height: 160px;
  background: white;
  top: 35px;   /* was 20px */
  left: 20px;
  padding: 15px;
  z-index: 1;
  border-radius: 4px;
  transition: transform 0.6s ease;
}

.letter h3 {
  margin: 0 0 10px;
  font-size: 16px;
}

.letter p {
  font-size: 14px;
}

/* FRONT FLAPS */
.front {
  position: absolute;
  width: 0;
  height: 0;
}

/* LEFT */
.left-flap {
  border-left: 150px solid #ff5d73;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  left: 0;
  z-index: 2;
}

/* RIGHT */
.right-flap {
  border-right: 150px solid #ff5d73;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  right: 0;
  z-index: 2;
}

/* BOTTOM */
.bottom-flap {
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #ff5d73;
  bottom: 0;
  z-index: 3;
}

/* TOP (ANIMATED) */
.top-flap {
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 100px solid #ff5d73;
  top: 0;

  transform-origin: top center;
  transform: rotateX(0deg);
  backface-visibility: hidden;
  transition: transform 0.7s ease;
  z-index: 4;
}

/* OPEN STATE */
#envelope.open .top-flap {
  transform: rotateX(180deg);
  z-index: 0;
}

#envelope.open .letter {
  transform: translateY(-90px);
  transition-delay: 0.25s;
}

/* BUTTONS */
.buttons {
  margin-top: 25px;
}

button {
  padding: 8px 20px;
  margin: 0 6px;
  background: white;
  border: 2px solid #ff5d73;
  color: #ff5d73;
  border-radius: 6px;
  cursor: pointer;
}
